{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>

    <form action="{{ url_for('book_edit', id=book['id']) }}" method="POST">
        
        <div class="form-group">
            <label for="title">Tytuł książki:</label>
            <input type="text" id="title" name="title" value="{{ book['title'] }}" required>
        </div>

        <div class="form-group">
            <label for="author">Autor:</label>
            <input type="text" id="author" name="author" value="{{ book['author'] }}" required>
        </div>

        <button type="submit">Zapisz zmiany</button>
        <a href="{{ url_for('book_index') }}">Anuluj</a>
    </form>
{% endblock %}