{% extends "layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <a href="{{ url_for('book_create') }}">Create new</a>

    <ul class="index-list">
        {% for book in books %}
            <li>
                <h3>{{ book['title'] }}</h3>
                <ul class="action-list">
                    <li><a href="{{ url_for('book_show', id=book['id']) }}">Details</a></li>
                    <li><a href="{{ url_for('book_edit', id=book['id']) }}">Edit</a></li>
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}